{% extends 'base.html' %}

{% block title %}
<title>
    Developer Page
</title>
{% endblock %}

{% block content %}
<h3>Developer Page</h3>
<div class="col-12">
    <table class="table table-striped table-sm table-bordered">
        <thead class="table-dark">
            <tr>
                <td>Nickname</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Date of Birth</td>
                <td>Services</td>
            </tr>
        </thead>
        <tbody>
            {% for developer in developers %}
            <tr>
                <td>{{ developer.nick_name }}</td>
                <td>{{ developer.first_name }}</td>
                <td>{{ developer.last_name }}</td>
                <td>{{ developer.date_of_birth }}</td>
                <td><a href="{% url 'edit_developer' developer.id %}">Edit</a> - <a href="{% url 'delete_developer' developer.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post" action="">
        {% csrf_token %}
        <div>
            <select name="choice" id="choice">
                <option value="nick_name">Nickname</option>
                <option value="first_name">First Name</option>
                <option value="last_name">Last Name</option>
            </select>
            <input name="name" type="text" />
            <button type="submit">Search</button>
            <a href="{% url 'add_developer' %}">Add new developer</a>
        </div>
        <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </form>
</div>
{% endblock %}