{% extends 'base.html' %}

{% block title %}
<title>
    Home Page
</title>
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home_styles.css' %}">

<div class="jumbotron jumbotron-fluid bg-dark text-white jumbanner" >
    <div class="container text-center">
      <h2 class="display-4">Welcome Gamers</h2>
      <p class="lead"> Let's find and play a game !</p>
    </div>
</div>

<div class="card-deck cardhome">
    <div class="card">
      <img src={% static 'images/Game.png' %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Games</h5>
        <p class="card-text">A game is an activity or sport usually involving skill, knowledge, or chance, in which you follow fixed rules and try to win against an opponent or to solve a puzzle.</p>
        <p class="card-text"><small class="text-muted">Number of games: {{ num_games }}</small></p>
      </div>
    </div>
    <div class="card">
      <img src={% static 'images/Genre.png' %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Genres</h5>
        <p class="card-text">Game genre is a specific category of games related by similar gameplay characteristics.</p>
        <p class="card-text"><small class="text-muted">Number of genres: {{ num_genres }}</small></p>
      </div>
    </div>
    <div class="card">
      <img src={% static 'images/Platform.png' %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Platfroms</h5>
        <p class="card-text">Game platform means the electronic delivery system used to launch or play the interactive game and includes mobile applications.</p>
        <p class="card-text"><small class="text-muted">Numbers of platform: {{ num_platforms }}</small></p>
      </div>
    </div>
</div>

<div class="card-deck cardhome">
    <div class="card">
      <img src={% static 'images/Developer.png' %}  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Developers</h5>
        <p class="card-text">Game developer is a person that specializing in video game development – the process and related disciplines of creating video game.</p>
        <p class="card-text"><small class="text-muted">Numbers of developer: {{ num_developers }}</small></p>
      </div>
    </div>
    <div class="card">
      <img src={% static 'images/Publisher.png' %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Publishers</h5>
        <p class="card-text">Game publisher is a company that publishes video games that have been developed either internally by the publisher or externally by a game developer.</p>
        <p class="card-text"><small class="text-muted">Numbers of publishers: {{ num_publishers }}</small></p>
      </div>
    </div>
    <div class="card">
      <img src={% static 'images/OfficialWeb.png' %} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Official Websites</h5>
        <p class="card-text">A website that created by the game company to promote the game.</p>
        <p class="card-text"><small class="text-muted">Number of official websites: {{ num_official_webs }}</small></p>
      </div>
    </div>
</div>






{% endblock %}