{% extends 'base.html' %}

{% block title %}
<title>
    Registration
</title>
{% endblock %}

{% block content %}

<div class="col-12 loginform">
    <div class="row text-center text-white">
        <div class="col-12 text-center">
        <h3 style="text-align: center;">Registration Form</h3>
            <div class="row text-center logininput">
                <div class="col-12 text-center text-white">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row inputpart">
                            <div class="col-6 text-right">
                                <label for="username">Username</label>
                            </div>
                            <div class="col-6 text-left">
                                <input type="text" name="username"/>
                            </div>
                        </div>
                        <div class="row inputpart">
                            <div class="col-6 text-right">
                                <label for="email">E-Mail</label>
                            </div>
                            <div class="col-6 text-left">
                                <input type="text" name="email"/>
                            </div>
                        </div>
                        <div class="row inputpart">
                            <div class="col-6 text-right">
                                <label for="password">Password</label>
                            </div>
                            <div class="col-6 text-left">
                                <input type="password" name="password"/>
                            </div>
                        </div>
                        {% if error_message %}  
                        <p style="color: red;">*Sorry, {{ error_message }}</p>
                        {% endif %}
                        <input class="buttonlogin" type="submit" value="Register"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

