{% extends 'base.html' %}

{% block title %}<title>Genre Page</title>{% endblock %}

{% block content %}
<h3 style="padding: 12px;"> Genre Page </h3>
{% if user.is_authenticated %}
<a href="{% url 'add_publisher' %}" style="padding: 12px;">
    <button type="button" class="btn btn-dark">Add Publisher</button></a>
{% endif %}
<form id="search-form" method="post" action="">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <select class="form-control" id="choice" name="choice">
                        <option value="name">Publisher Name</option>
                        <option value="founder_name">Founder Name</option>
                        <option value="hq_country">Headquarters Country</option>
                    </select>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                    <input type="text" placeholder="Search..." class="form-control" id="search" name="name"/>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                    <button type="submit" class="btn btn-base">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="col-12">
        <div class="row row-cols-1 row-cols-md-3">
            {% for genre in page_obj %}
            <div class="col mb-4">
                <div class="card border-dark h-100">
                    <div class="card-header text-center bg-dark text-white" style="height: 120px; padding-top: 35px;"><h3>{{ genre }}</h1></div>
                  <div class="card-body">
                    <p class="card-text">Description : {{ genre.description }}</p>
                  </div>
                  <div class="card-footer">
                    {% if user.is_authenticated %}
                    <p>
                    <a href="{% url 'edit_genre' genre.id %}">
                        <button type="button" class="btn btn-dark waves-effect">Edit</button>
                    </a>
                    <a href="{% url 'delete_genre' genre.id %}">
                        <button type="button" class="btn btn-dark waves-effect">Delete</button>
                    </a>
                    </p>
                    {% endif %}
                </div>
              </div>
            </div> 
            {% endfor %}
        </div>  
        <nav aria-label="pagination">
            <ul class="pagination pg-primary">
            {% if page_obj.has_previous %}
              <li class="page-item "><a href="?page=1" class="page-link">&laquo; First</a></li>
              <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a></li>
            {% endif %}
            <span class="current">
                <li class="page-item disabled">
                    <a class="page-link" aria-disabled="true"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>
            </span>
            {% if page_obj.has_next %}
                <li class="page-item "><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                <li class="page-item "><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last &raquo;</a></li>
            {% endif %}
            </ul>
        </nav>
</div>
{% endblock %}