{% extends 'base.html' %}

{% block title %}<title>Game Page</title>{% endblock %}

{% block content %}
<h3> Game Page </h3>
<div class="col-12">
    <form method="post" action="">
        {% csrf_token %}
            <div class="row row-cols-1 row-cols-md-2">
                {% for game in page_obj %}
                <div class="col mb-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">{{ game }}</h5>
                        <p class="card-text">Genre : {{ game.genre.all|join:' | ' }}</p>
                        <p class="card-text">Game Developer : {{ game.developer }}</p>
                        <p class="card-text">Game Publisher : {{ game.publisher }}</p>
                        <p class="card-text">Official Web : {{ game.offical_web }}</p>
                        <p class="card-text">Price : {{ game.price }}</p>
                        <p class="card-text">Supporting Platform : {{ game.platform.all|join:' | ' }}</p>
                        <p class="card-text">Rating : {{ game.rating }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <td>Name Search</td>
                    <td>Price Search</td>
                </tr>
            </thead>
            <tbody>
                <td>
                    <input name="name" type="text" />
                    <button type="submit">Search</button>
                </td>
                <td>
                    <select name="choice" id="choice">
                        <option value="equal">Equal</option>
                        <option value="less_than">Less Than</option>
                        <option value="less_than_equal">Less Than or Equal</option>
                        <option value="greater_than">More Than</option>
                        <option value="greater_than_equal">More Than or Equal</option>
                    </select>
                    <input name="price" type="number" />
                    <button type="submit">Search</button>
                </td>
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
    
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </form>
</div>
{% endblock %}


