{% extends 'base.html' %}

{% block content %}

<div class="col-12 loginform">
    <div class="row text-center text-white">
        <div class="col-12">
            <h3>Login</h3>
            {% if form.errors %}
            {% if user_exists_error %}
            <p>{{ user_exists_error }}</p>
            {% else %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row text-center logininput">
        <div class="col-12 text-center text-white">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="row inputpart">
                    <div class="col-6 text-right">
                        {{ form.username.label_tag }}
                    </div>
                    <div class="col-6 text-left">
                        {{ form.username }}
                    </div>
                </div>
                <div class="row inputpart"> 
                    <div class="col-6 text-right">
                        {{ form.password.label_tag }}
                    </div>
                    <div class="col-6 text-left">
                        {{ form.password }}
                    </div>
                </div>
                <input class="buttonlogin" type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <p class="loginnote">Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
        </div>
    </div>
</div>
{% endblock %}